[submodule "BrowserApp"]
	path = BrowserApp
	url = https://github.com/isma9/repoIOS/BrowserApp
[submodule "Conversor"]
	path = Conversor
	url = https://github.com/isma9/repoIOS/Conversor
[submodule "GpsAppVideo"]
	path = GpsAppVideo
	url = https://github.com/isma9/repoIOS/GpsAppVideo
[submodule "reproductor"]
	path = reproductor
	url = https://github.com/isma9/repoIOS/reproductor
